body {
    font-family: 'Arial', sans-serif;
    direction: rtl;
    text-align: center;
    background-image: url('AvgGrades/Purple-and-Blue-Gradient-Modern-Desktop-Wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; /* התאמת צבע הטקסט ללבן */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* שקיפות לרקע הקונטיינר */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #FFD700; /* צבע זהב לכותרת */
    font-size: 2.5em;
    margin-bottom: 20px;
}

.grade-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
    width: 25%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 5px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.calculate-button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
}

#averageResult {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    background-color: #e7ffe6;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4CAF50;
}

.remove-course {
    background-color: #f44336;
}

.remove-course:hover {
    background-color: #d32f2f;
}
